@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

:root {
  /* Use the variable you just created in @theme */
  font-family: var(--font-poppins);
}

@plugin "daisyui/theme" {
  name: "forest";
  default: true;
}
